body{
    background-image: url(/DALL·E\ 2024-11-09\ 17.01.58\ -\ A\ background\ image\ for\ a\ recipe\ website.\ Simple\ and\ clean\,\ featuring\ a\ light\ wooden\ texture\ with\ subtle\ kitchen-themed\ elements\ like\ faint\ outlines\ of.webp);
}
.we{
    text-align: center;
    display: flex;
    -ms-flex-align: center;
    
}
.search{
 margin-top: 30px;
    text-align: center;
}
